.about-landing 
	{
 		 width: 100%;
  		
  		
	}
	@media only screen and (min-width: 0px) and (max-width: 992px)
	{
		.overview
		{
			 
		}
		.side-link-fixed
		{

		}
	}
	@media only screen and (min-width: 992px) 
	{
	.overview
	{
		  margin-left: 48px;
 		 margin-right: 48px;
	}
	.side-link-fixed
		{
			
		}
	}
	 
    .side-link {
  font-weight: 500;
  font-size: 18.5px;
}